---
import serviceManager from '../../services/serviceManager.json';
import ServiceBlog from '../../components/service/ServiceBlog.astro';
import OperatorDescription from '../../components/operator/OperatorDescription.astro';
import KeywordMetaTag from '../../components/metaTag/keywordMetaTag.astro';
import SearchBotTag from "../../components/metaTag/searchBotTag.astro";
import DescriptionMetaTag from "../../components/metaTag/descriptionMetaTag.astro";
import Aside from '../../components/aside/aside.astro';
import Footer from '../../components/footer/footer.astro';

import keywordManager from '../../services/keywordManager.js';

export async function getStaticPaths() {
    const serviceList = serviceManager.serviceList;
    return serviceList.map((service) => {
        return {
            params: { serviceId: service.serviceId.toString() },
            props: { service },
        };
    });

}  
const {serviceId} = Astro.request.params;
const { service } = Astro.props;

let title = `معرفی بسته اینترنتی ${service.title} شاتل موبایل`;
let keyWordList = keywordManager(service)
---


<html
	lang="fa"
	dir="rtl"
>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>{title}</title>
	<KeywordMetaTag keyWordList={keyWordList}/>
	<SearchBotTag />
	<DescriptionMetaTag  service = {service} />
	<link rel="amphtml" href='https://shatel.fecharge.ir/amp/blogDetail/${service.serviceId}' />
    <link rel="canonical" href="https://shatel.fecharge.ir/blogDetail/${service.serviceId}" />

	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
	<style global>
		@import "../../styles/global.css";
		@import "../../styles/home.css";
	</style>

	<style>
		header {
			display: flex;
			flex-direction: column;
			gap: 1em;
			max-width: min(100%, 68ch);
		}
	</style>

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-8VZE4RS3J1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'G-8VZE4RS3J1');
	</script>
</head>
<body>
	<main>
		<header>
			<img
					src="/assets/Logo.png"
					alt="شاتل موبایل"
			>
			<h1>
				{title}
			</h1>
			<OperatorDescription />
		</header>
		
		
        <ServiceBlog service={service} />
		
	</main>
    <Aside service={service} />
	<Footer />
</body>
</html>











