---
const { service } = Astro.props;
---
<article>
    <h2>
        آموزش راه اندازی سرویس
        {service.title} 
        شاتل
    </h2>
    <section>

        <p>
            جهت راه اندازی سرویس
            {service.title}
            مراحل زیر را انجام دهید.
        </p>

        <ol>
            <li>
                وارد سایت
                    <a
                        href = 'https://shatel.fecharge.ir/'
                        title = 'خرید بسته اینترنت شاتل'
                    >
                    فشارژ شود.
                    </a>
            </li>
            <li>
                از بخش کنار،
                {service.durationTitle}
                را انتخاب کنید.
            </li>
            <li>
                لیست سرویس ها برای مدت زمان
                {service.durationTitle}
                نمایش داده خواهد شد.
                از بین ایتم ها، سرویس
                {service.title}
                را پیدا کنید و خرید آنلاین را بزنید.
            </li>
            <li>
                داخل صفحه ی جزئیات سرویس
                {service.title}،
                شماره سیمکارت که میخواهید بسته اینترنتی بر روی آن فعال شود را وارد کنید.
            </li>
            <li>
                دکمه ی خرید آنلاین را بزنید و مراحل خرید را داخل صفحه ی امن پرداخت بانک تکمیل کنید.
            </li>
            <li>
                در صورت موفق بودن پرداخت، سرویس
                {service.title}،
                به صورت خودکار بر روی سیمکارت شما فعال خواهد شد و فاکتور خرید به شما نمایش داده خواهد شد.
            </li>
        </ol>
        
    </section>
    <b>
        جهت خرید {service.title} از دکمه ی خرید آنلاین استفاده کنید.
    </b>
</article>